<template>
	<section>
		<page-title :title="$t('preview-title')"/>
		<wait-icon v-if="!survey"/>
		<div class="container mt-3" v-if="survey">
			<table class="table">
				<tr>
					<th style='width:10em'>{{$t('name')}}</th>
					<td>{{survey.name}}</td>
				</tr>
				<tr>
					<th>{{$t('visibility')}}</th>
					<td>{{survey.visible ? $t('public') : $t('private')}}</td>
				</tr>
				<tr>
					<th>{{$t('description')}}</th>
					<td>{{survey.desc}}</td>
				</tr>
			</table>

			<div class="card my-4" v-for="part in survey.parts">
				<div class="card-header bg-var text-white">{{$t('part',{title:part.title})}}</div>
				<table class="table table-striped">
					<tr v-for="question in part.questions" >
						<td>{{question.text}}</td>
						<td class="text-right" v-if="question.type==1">{{$t('type-yes-no')}}</td>
						<td class="text-right" v-if="question.type==2">{{$t('type-agree')}}</td>
						<td class="text-right" v-if="question.type==3">{{$t('type-text')}}</td>
						<td class="text-right" v-if="question.type==4">
							<span>{{$t('type-select')}}</span>
							<br>
							<span class="text-info">{{question.options}}</span>
						</td>
					</tr>
				</table>
			</div>

			<router-link class="btn btn-primary my-4" :to="{ name: 'survey-index', params: {} }">{{$t('close')}}</router-link>
		</div>
	</section>
</template>

<script>
	import PageTitle from 'Main/components/PageTitle.vue';
	import WaitIcon from 'Main/components/WaitIcon.vue';
	import color from 'Main/js/color.js'

	export default {
		components: {PageTitle, WaitIcon},
		data: function() {
			return {
				survey:false,
			}
		},
		mounted: function() {
			if (!this.$route.params.survey) return this.$router.push({name:'survey-index'});
			this.survey=this.$route.params.survey;
		},
		updated: function() {
			color.setBgVar();
		}
	}
</script>





<i18n>
{
	"de": {
		"preview-title": "Umfragevorlage - Vorschau",
		"name": "Name",
		"visibility": "Sichtbarkeit",
		"public": "Öffentlich",
		"private": "Privat",
		"description": "Beschreibung",
		"type-yes-no": "Ja-Nein Frage",
		"type-agree": "Variable Zustimmung",
		"type-text": "Freies Textfeld",
		"close": "Schließen",
		"part": "Abschnitt: {title}",
		"type-select": "Einfachauswahl"
	},
	"en": {
		"preview-title": "Survey Template - Preview",
		"name": "Name",
		"visibility": "Visibility",
		"public": "Public",
		"private": "Private",
		"description": "Description",
		"type-yes-no": "Yes/No question",
		"type-agree": "Variable consent",
		"type-text": "Empty text field",
		"close": "Close",
		"part": "Part: {title}",
		"type-select": "Single choice"
	}
}
</i18n>
